.container {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
}
.item:first-child {
    margin-left: 4em;
    overflow: auto;
    flex: 1 0 1000px;

}

.item:last-child {
    flex: 0 0 350px;
}
