.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    .title {
        font-size: 24px;
        font-weight: bold;
        align-self: center;
    }
    .portfolioSimple {
        display: flex;
        flex-direction: column;
        position: absolute;
        top:100%;
        left: 0;
        color: white;
        background-color: #222222;
        width:100%;
        border: solid gray 2px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s;
        width: 100%;
        &:hover{
            visibility: visible;
            opacity: 1;
        }
    }
    &:hover{
        .portfolioSimple{
            visibility: visible;
            opacity: 1;
        }
    }
}



