.rank_container{
    margin-top: 4rem;
    display:flex;
    flex-direction: column;
}
.title{
    font-size: large;
    font-weight: bold;
    margin-bottom: 1rem;
}
.rank_item{
    padding: 3px;
    display:flex;
}
.rank_item:hover{
    background-color: gray;
}
.rank_name{
    width:250px;
}
.rank_disc{
    width: 150px;
    display: flex;
    justify-content: flex-end;
}