/* 전체 탑바 스타일 */
.top-bar {
	width: 100%;
	background-color: #282c34;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 20px;
	box-shadow: 0 4px 2px -2px gray;
}

/* 비율 설정 (1:6:1) */
.title {
	width: 200px;
	font-size: 24px;
	font-weight: bold;;
	justify-content: center;
}

.search {
	flex: 1;
	display: flex;
	justify-content: center;
}
.stock-selector-wrapper {
    width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
	max-width: 900px;
}
.buttons {
	width: 200px;
	display: flex;
	justify-content: center;
}
