/* 전체 탑바 스타일 */
.top-bar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #282c34;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-shadow: 0 4px 2px -2px gray;
	z-index: 1000;
}

/* 비율 설정 (1:6:1) */
.title {
	flex-grow: 1;
	font-size: 24px;
	font-weight: bold;
}

.search {
	flex-grow: 6;
	display: flex;
	justify-content: center;
}
.stock-selector-wrapper {
    width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
	max-width: 800px;
}
.buttons {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}
