.container {
    display: flex;
    flex-direction: column;
    .title{
        align-self: flex-start;
        padding: 1rem;
    }
    .chart{
        flex: 1 0 1200px;
        overflow: auto;
        padding: 1rem;

    }
}
